body{
    background-color: white;
    font-family: 'Noto Sans', sans-serif;
}
.align-title{
    display: flex;
    justify-content: start;
    margin-bottom: 15px;
}
.border-left-warning{
    border-left: 4px solid #856404;
}
.border-tab-content{
    border: 0px;
    border-radius: 0px;    
}
.bg-modal-content{
    background: transparent;
    border: 0px;
    border-radius: 0px;
}
.bg-blue{
    background-color: #0000BA;
    position: sticky;
    padding: 20px 0 0 0 !important;
    top: 0;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}
@media(max-width:767px){
    .bg-blue{
        position: relative;
        height: 100%;
    }
    .btn-group-toggle{
        display: block;
        text-align: center;
    }
    .btn-group-toggle label{
        margin-bottom: 15px!important;
    }
}
.contenido{
    position: relative;
    background: rgb(255, 255, 255);
}
body{
    scrollbar-width: none;
}
.bg-blue{
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.bg-blue::-webkit-scrollbar{
    display: none;
}
@media(min-width:1025px){
    .padLeftRight {
        padding: 0px 50px!important;
    }
}
@media(max-width:1024px){
    .padLeftRight {
        padding: 0px 20px!important;
    }
}
.button-save{
    border: 1px solid #0000ba;
    background: #FFF;
    color: #0000ba;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.border-box-files{
    padding: 20px 10px;
    border: 1px solid #E8E8E8;
    border-radius: 0px 0px 12px 12px;
    -webkit-box-shadow: 0px 0px 0px 0px rgb(171 171 171);
    -moz-box-shadow: 0px 2px 8px 0px rgba(171,171,171,1);
    box-shadow: 0px 0px 5px 0px rgb(171 171 171);
}
#coche-date{
    border: 1px solid #ced4da;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}
#coche-date:after, #moto-date:after, #coche-venta:after, #moto-venta:after{
    content: url(../img/calendario.png);
    position: absolute;
    right: 14px;
}
#coche-date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
#coche-venta{
    border: 1px solid #ced4da;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}
#coche-venta::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
#moto-date{
    border: 1px solid #ced4da;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}
#moto{
    padding: 0!important;
}
#moto-date::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
#moto-venta{
    border: 1px solid #ced4da;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}
#moto-venta::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.modal-size{
    width: 630px;
    height: auto;
    margin: 0px auto;
}

.modal-cambio-vehiculo{
    background: rgba(61, 47, 61, 0.53);
}
#modalPrecioValidate, #modal-cambio-vehiculo{
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFF;
    background-color: rgb(255 255 255 / 19%);
    margin: 9px 0px;
    padding-left: 15px!important;
}
.nav-tabs .nav-link.active{
    border-color: #dee2e6 #dee2e6 #fff;
    border: 1.5px solid ;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active p, 
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active span{
    color: white;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: transparent;
    margin: 8px 0px;
    transition: all 0.5s ease;
}

.button-aceptar-cambio{
    background: #FFF;
    border: 1px solid #0000ba;
    color: #0000ba;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin:8px;
    border-radius:10px;
}

.button-login{
    background: #0000ba;
    border: 1px solid #0000ba;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin:8px;
    border-radius:10px;
}

.button-login:hover{
    background: #FFF;
    border: 1px solid #0000ba;
    color: #0000ba;
    font-weight: bold;
    cursor: pointer;
}

.box-grey-border{
    border: 1px solid lightgray;
}

.column-bg-file {
    background-color: #efefff;
    border: none;
    border-radius: 8px;
    margin: 15px 0px;
}

.padding-tab{
    padding-left: 3rem!important;
}
.principal-color{
    color:#0000ba;
}

.cursor-pointer{
    cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0000ba;
    background-color: #0000ba;
}
.custom-control-input{
    width: 2rem!important;
    position: relative!important;
}
.tab-content .tab-pane{
    background: #FFF;
    border: 0px;
    border-radius: 0px;
}

.table-info, .table-info>td, .table-info>th {
    background-color: #EBECF6;
}

.table td, .table th{
    border-bottom: 1px solid #dee2e6;
    font-weight: 100;
}

.rounded-t-md {
    border-radius: 8px 8px 0px 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #797c80!important;
    line-height: 28px;
    padding: 10px!important;
}

.select2-container--default .select2-selection--single{
    height: 49px!important;
    border: 1px solid #ced4da!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 45px!important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    left: 29%!important;
}
span.select2{
    width: 100%!important;
}
select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23888%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
select::-ms-expand {
    display: none; 
}
.select2-selection span, select.form-control, .form-group  input{
    font-size: 13px;
}
.separator{
    border: 0.5px solid #dee2e68c;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
}
@media(max-width:767px){
    .separator{
        margin-bottom: 20px;
    }
    .pt-5{
        padding-top: 1rem!important;;
    }
}
.clausula-btn{
    font-size: 13px!important;
    width: 252px!important;
}
.card-fiel {
    width: 94%;
    margin-right: 6%;
    padding: 5px 0!important;
}
.card-fiel p {
    font-size: 14px;
}
.datos-tabla{
    margin-top: 0px;
}
@media(min-width:1025px){
    .sep2{
        margin: 2rem -9rem 0 -3rem; 
        width: calc(100% + 6rem)!important;
    }
}
@media(max-width:1024px) and (min-width:768px){
    .sep2{
        margin: 0 -3rem; 
        width: calc(100% + 6rem)!important;
    }
}
@media(max-width:767px){
    .sep2{
        margin: 30px 0; 
        width: 100%!important;
    }
    .card-fiel {
        width: 100%!important;
        margin-right: 0;
        padding: 5px 0!important;
    }
}

.file-ccompra {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.font-size-table{
    font-size: 13px;
}

.form-control {
    height: 49px!important;
    color: #797c80!important;
}

.subtitle{
    padding: 12px 0px;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: #494c5a;
    background-color: #d6d5fb;
}

.summary-details{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 1px solid #f7fafc;
    color: #000;
    background-color: #f7fafc;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 0;
    cursor: pointer;
}

.btn-primary.focus, .btn-primary:focus{
    border: 1px solid #0000ba;
    color: #000;
    background-color: #0000ba;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 1px solid #0000ba;
    color: #000;
    background-color: #0000ba;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 0;
    cursor: pointer;
}

.sticky-card{
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.summary-details:hover{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 1px solid #f7fafc;
    color: #000;
    background-color: #f7fafc;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 0;
    cursor: pointer;
}

.btn-secondary {
    background-color: transparent;
    color: black;
    border: 1px solid #ced4da;
    margin: 0px 12px;
    padding: 12px 25px;
    border-radius: 5px!important;
    font-size: 15px;
}

.btn-secondary:hover{
    background-color: rgba(214,213,251,.15);
    color: black;
    border: 1px solid rgba(214,213,251,.15);
    margin: 0px 5px;
    padding: 12px 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 10px 5px 0px rgba(196,196,196,1);
    box-shadow: 0px 10px 5px 0px rgba(196,196,196,1);
    font-size:15px;
    
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #0000ba;
    border: 1px solid #0000ba;
    margin: 0px 12px 0px 0px;
    padding: 12px 25px;
    border-radius: 5px;
    font-size: 15px;
}

.file-input label {
    display: block;
    position: relative;
    width: fit-content;
    height: 21px;
    border-bottom: 2px solid;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0000ba;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
    font-size: 13px;
}
.form-group label{
    font-size: 14px;
}
.text-blue{
    color: #0000ba;
}
p.font-weight-bold, label.font-weight-bold{
    font-size: 14px;
}
/**
.max-height-tab{
    height: 100vh;
    overflow-y: auto;
}**/
#tipoVehiculo li{
    padding: 0;
}
#tipoVehiculo li .nav-link{
    background: transparent;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    height: 70px;
    text-align: left;
}
#tipoVehiculo li .nav-link p{
    color: #797C80;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
}

#tipoVehiculo li .nav-link.active{
    border: 1.5px solid #0000ba;
}
#tipoVehiculo li .nav-link:not(.active){
    border: 1.5px solid #ced4da;
}
#tipoVehiculo li .active p{
    color: #0000ba;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin: 0px auto;
}
#tipoVehiculo #coche-tab.active img{
    content :url("../img/coche2.svg");
    overflow:hidden;
}
#tipoVehiculo #moto-tab.active img{
    content :url("../img/moto2.svg");
    overflow:hidden;
}
#marca-tab {
    margin-top: 3rem;
}
#marca-tab .tab-pane .separator{
    margin-top: 2rem;
}
.title-tab{
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}
#permiso-circulacion .card-fiel{
    width: 97%;
}
@media(max-width:767px){
    .title-tab{
        font-size: 22px;
        padding: 0px!important;
    }
    #vehiculo, #comprador, #vendedor, #documentos{
        padding: 40px 20px 20px!important;
    }
    #marca-tab .tab-pane .separator{
        margin-top: 2rem;
    }
    .empresa-preg{
        text-align: center!important;
        justify-content: initial;
        display: flex;
    }
    .empresa-preg label{
        margin-right: 20px;
    }
    #titulo-comprador{
        padding-top: 0px!important;
    }
}
@media(min-width:1025px){
     .p-40{
        padding: 0 9rem 0 3rem!important
    }
    .title-tab{
        padding: 1rem 3rem 0 3rem!important;
    }
    
}
@media(max-width:1024px){
     .p-40{
        padding: 0 2rem!important
    }
    .title-tab{
        padding: 1rem 2rem 0 2rem!important;
    }
}
@media(max-width:767px){
    .tab-pane#comprador .p-40, .tab-pane#vendedor .p-40, .tab-pane#documentos .p-40{
        padding: 0 !important
    }
}
.pl-0{
    padding-left: 0px!important;
}
.p-0{
    padding-left: 0;
    padding-right: 0;
}
.table-itp{
    color: #494c5a;
    background-color: #d6d5fb;
}
#tabs .nav-item .nav-link{
    background-color:#FFF;
}
.descuento-itp{
    background-color: #DEF7EC;
    color: #046c4e;
}
.title-border{
    color: #0000ba;
    width: fit-content;
    font-size: 1.25rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    line-height: 32px;
}
.title-page{
    font-weight: 700;
    font-size: 27px;
}
#registerTab .nav-link.active{
    
    background-color: #FFF;
}
#registerTab .nav-link{
    
    background-color: lightgrey;
}
#registerTabContent .tab-pane{
    border-radius: 0px;
}
.active .step-number{
     border: 2px solid #FFF;
     color: #FFF;
}
.step-number{
    width: 34px;
    border: 1px solid #e2e8f0;
    border-radius: 100%;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center; 
}
.image-space{
    margin: 0px;
}

.step-title-font-size {
    color: #494c5a;
    margin-left: 13px;
 }
 .step-title-font-size p{
     font-size: 15px;
     color: #ffffff91;
 }
 .step-title-font-size span{
     font-size: 11px;
     color: #ffffff91;
 }

.paragraph-white{
    font-size: 16px;
    width: 100%;
    line-height: 20px;
}

.position-total{
    border-top: 1px solid #FFF;
    margin: 100px 0 0;
}
.position-total div{
    margin: 14px 0px;
}
.position-total div p{
    font-size: 13px;
}
.question-circle:hover{
    background-color: #0000ba;
    color: #FFF;
    
}
.question-circle{
    border: 1px solid #acacac;
    background-color: #FFF;
    width: 24px;
    height: 24px;
    text-align: center;
    font-style: italic;
    border-radius:100px;
}


/* Tooltip container */
.tooltip {
  position: relative;
    display: flex;
    opacity: 1;
    z-index: 1000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    margin-left: 7px;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: auto!important;
    margin-left: 10px;
    background-color: #0000ba;
    color: #fff;
    border: 1px solid #fff;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    z-index: 2000;
    margin-top:25px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    font-size: 14px;
}
@media(max-width:767px){
    .label-tooltip, .p-tooltip{
        margin-right: 24px!important;
    }
     .tab-pane:not(#documentos) .tooltip.question-circle{
        position: absolute;
        right: 0;
    }
    .tooltip.question-circle strong{
        width: 26px;
    }
}
/* Table data align */
#marca-tabla,
#modelo-tabla,
#cilindrada-tabla,
#cilindros-tabla,
#combustible-tabla,
#potencia-tabla,
#fiscal-tabla{
    text-align: end;
    font-weight: bold;
}
/* end data table  */
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover + .tooltiptext {
  visibility: visible;
}

.wrap-container{
    flex-wrap:wrap;
    display:flex;
}
.wrap-container button:not(#boton-ver-todo){
    padding-left: 0;
}
.wrap-container button:not(#boton-ver-todo):hover{
    padding-left: 17px;
    background-color: rgb(255 255 255 / 19%);
}
.ver-todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ver-todo button{
    font-size: 13px;
}
@media (min-width: 1025px){
    .wrap-container button:not(#boton-ver-todo){
        width: 79%!important;
    }
}
@media (max-width: 1024px){
    .wrap-container button:not(#boton-ver-todo){
        width: 100%!important;
    }
}
@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px!important;
    }
}
@media (max-width: 600px) {
    #tabs .nav-item{
        width: 100%;
    }
    
    #tabs .nav-item .nav-link{
        width: 100%; 
    }
    #tipoVehiculo .nav-item{
        width: 100%;
        justify-content: center;
        display: flex; 
        margin-bottom: 20px;
    }
    #tipoVehiculo .nav-item .nav-link {
        width: 100%;
    }
    .modal-size{
        width:100%;
    }
    
    .padding-tab{
        padding-left: 5px!important;
        padding-right: 5px!important;
    }
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: 100%;
        margin: 1.75rem auto;
    }
}
.container{
    padding: 0px;
    left: 0;
    right: 0;
}
.boton-salir{
    font-size: 13px;
    padding-left: 7px;
}
/** estilos barra lateral ver todo**/
.ver-todo-valores {
    width: 100%;
    background: #0000BA;
    position: absolute;
    right: 0;
    left: 0;
    -webkit-transition: all 1.0s linear;
    -moz-transition: all 1.0s linear;
    -o-transition: all 1.0s linear;
    -ms-transition: all 1.0s linear;    
    transition: all 1.0s linear;
    
}
@media(min-width:768px){
    .ver-todo-valores{
        padding: 20px!important;
    }
    #documentos{
        padding: 0!important;
    }
}
@media(max-width:767px){
    .ver-todo-valores{
        padding: 20px!important;
    }
    .contenido .mt-5 {
        margin-top: 1rem!important;
    }
    .contenido .mb-5 {
        margin-bottom: 1rem!important;
    }
    .title-border{
        font-size: 1rem!important;
        text-align: left;
        line-height: 1.4;
    }
}
.up-section{
    top:0px;
    visibility: visible;
    height: auto;
}
.down-section{
    top: 100%;
    visibility: hidden;
    overflow-y: hidden;
}
.height-remove{
    height: 0;
}
.closed-boton{
    color: #ffffffbf;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    padding-left: 25px;
}
.section-calculos {
    margin-top: 20px;
}
.section-calculos h3{
    background: #ffffff54;
    text-align: center;
    padding: 15px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    margin: 0;
}
.section-calculos {
    margin-top: 20px;
}
.section-calculos .row{
    margin: 0;
    padding: 0 17px;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.row div{
    padding-left: 0;
    padding-right: 0;
}
.section-calculos .row div{
    margin: 0;
    padding: 15px 0;
}
.section-calculos .row div.border-row{
    border-bottom: 1px solid #ffffff54;
}
.section-calculos .title{
    font-size: 12px;
    color: white;
}
.section-calculos .valor{
    font-size: 13px;
    text-align: right;
    color: white;
}
.section-calculos  .resultados{
    background: #ffffff54;
    margin-top: -1px;
}
.section-calculos  .resultados span{
    font-weight: 800;
    font-size: 13px;
}
.section-calculos  .resultados span{
    font-weight: 800;
}
.section-calculos.costes{
    margin-top: 60px;
}
