body{
    background-color: #F9F9F9;
    font-family: 'Noto Sans', sans-serif;
}


.align-title{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.border-left-warning{
    border-left: 4px solid #856404;
}

.border-tab-content{
    border: 0px;
    border-radius: 0px;    
}

.bg-modal-content{
    background: transparent;
    border: 0px;
    border-radius: 0px;
}

.bg-blue{
    background-color: #0000BA;
}

.button-save{
    border: 1px solid #0000ba;
    background: #FFF;
    color: #0000ba;
    margin: 10px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
.border-box-files{
    padding: 20px 10px;
    border: 1px solid #E8E8E8;
    border-radius: 0px 0px 12px 12px;
    -webkit-box-shadow: 0px 0px 0px 0px rgb(171 171 171);
    -moz-box-shadow: 0px 2px 8px 0px rgba(171,171,171,1);
    box-shadow: 0px 0px 5px 0px rgb(171 171 171);

}

.modal-size{
    width: 630px;
    height: auto;
    margin: 0px auto;
}

.modal-cambio-vehiculo{
    background: rgba(61, 47, 61, 0.53);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFFF;
    background-color: rgba(255, 255, 255,0.15);
    border-color: #dee2e6 #dee2e6 #fff;
    margin: 9px 0px;
    padding-left: 15px;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: transparent;
    margin: 8px 0px;
    transition: all 0.5s ease;
}

.button-aceptar-cambio{
    background: #FFF;
    border: 1px solid #0000ba;
    color: #0000ba;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin:8px;
    border-radius:10px;
}

.button-login{
    background: #0000ba;
    border: 1px solid #0000ba;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin:8px;
    border-radius:10px;
}

.button-login:hover{
    background: #FFF;
    border: 1px solid #0000ba;
    color: #0000ba;
    font-weight: bold;
    cursor: pointer;
}

.box-grey-border{
    border: 1px solid lightgray;
}

.column-bg-file {
    background-color: #f7f7f8;
    border: 1px solid #efefef;
    border-radius: 8px;
    margin: 15px 0px;
}

.principal-color{
    color:#0000ba;
}

.cursor-pointer{
    cursor: pointer;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #0000ba;
    background-color: #0000ba;
}

.tab-content .tab-pane{
    background: #FFF;
    border: 1px solid lightgray;
    border-radius: 10px;
}


.table td, .table th{
    border: 1px solid #dee2e6;
}

.rounded-t-md {
    border-radius: 8px 8px 0px 0px;
}

.separator{
    border: 1px solid #dee2e6;
    margin: 10px 0px;
}

.file-ccompra {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.font-size-table{
    font-size: 13px;
}

.subtitle{
    padding: 12px 0px;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    color: #494c5a;
    background-color: #d6d5fb;
}

.summary-details{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 1px solid #f7fafc;
    color: #000;
    background-color: #f7fafc;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 0;
    cursor: pointer;
}

.btn-primary.focus, .btn-primary:focus{
    border: 1px solid #0000ba;
    color: #000;
    background-color: #0000ba;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 1px solid #0000ba;
    color: #000;
    background-color: #0000ba;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 0;
    cursor: pointer;
}

.sticky-card{
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.summary-details:hover{
    display: flex;
    align-items: center;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-top: .25rem;
    margin-bottom: .25rem;
    border: 1px solid #f7fafc;
    color: #000;
    background-color: #f7fafc;
    border-radius: .25rem;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    outline: 0;
    cursor: pointer;
}

.btn-secondary {
    background-color: rgba(214,213,251,.15);
    color: black;
    border: 1px solid rgba(214,213,251,.15);
    margin: 0px 5px;
    padding: 12px 8px;
    border-radius: 5px;
    font-size:15px;
}

.btn-secondary:hover{
    background-color: rgba(214,213,251,.15);
    color: black;
    border: 1px solid rgba(214,213,251,.15);
    margin: 0px 5px;
    padding: 12px 8px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 10px 5px 0px rgba(196,196,196,1);
    box-shadow: 0px 10px 5px 0px rgba(196,196,196,1);
    font-size:15px;
    
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    color: #fff;
    background-color: #0000ba;
    border: 1px solid #0000ba;
    margin: 0px 5px;
    padding: 12px 8px;
    border-radius: 5px;
    font-size:15px;
}

.file-input label {
    display: block;
    position: relative;
    width: 50%;
    height: 45px;
    margin: 20px auto;
    border-radius: 13px;
    background: linear-gradient(40deg, #0000ba, #0000ba);
    box-shadow: 0 4px 7px rgb(0 0 0 / 40%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}

#tipoVehiculo li .nav-link{
        background: #FFF;
}

#tipoVehiculo li .active p{
    border-bottom: 2px solid #0000ba;
    width: fit-content;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    margin: 0px auto;
}

.table-itp{
    color: #494c5a;
    background-color: #d6d5fb;
}

#tabs .nav-item .nav-link{
    background-color:#FFF;
}

.descuento-itp{
    background-color: #DEF7EC;
    color: #046c4e;
}

.title-border{
    border-bottom: 2px solid #0000ba;
    width: fit-content;
    font-size: 1.25rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    line-height: 32px;
}

.title-page{
    font-weight: 700;
    font-size: 27px;
}

#registerTab .nav-link.active{
    
    background-color: #FFF;
}

#registerTab .nav-link{
    
    background-color: lightgrey;
}

#registerTabContent .tab-pane{
    border-radius: 0px;
}

.active .step-number{
     border: 2px solid #FFF;
     color: #FFF;
}

.step-number{
    width: 34px;
    border: 1px solid #e2e8f0;
    border-radius: 100%;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.image-space{
    margin: 0px 5px 0px 10px;
}

.step-title-font-size {
   font-size: 15px; 
   color: #494c5a;
}

.paragraph-white{
    font-size: 19px;
    width: 76%;
    line-height: 20px;
}

.position-total{
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #FFF;
    padding: 20px;
    margin-left: -24px;
}

.question-circle{
    border: 1px solid #acacac;
    background-color: #FFF;
    width: 24px;
    height: 24px;
    text-align: center;
    font-style: italic;
    border-radius:100px;
}

/* Tooltip container */
.tooltip {
  position: relative;
    display: flex;
    opacity: 1;
    z-index: 1000;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    margin-left: 7px;
}

/* Tooltip text */
.tooltiptext {
    visibility: hidden;
    width: auto;
    margin-left: 10px;
    background-color: #bee5eb;
    color: #000;
    border: 1px solid #000;
    text-align: left;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    z-index: 2000;
    margin-top:25px;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover + .tooltiptext {
  visibility: visible;
}

.wrap-container{
    flex-wrap:wrap;
    display:flex;
}

.ver-todo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1250px!important;
    
    }
}

@media (max-width: 600px) {
    #tabs .nav-item{
        width: 100%;
    }
    
    #tabs .nav-item .nav-link{
        width: 100%; 
    }
    #tipoVehiculo .nav-item{
        width: 100%;
        justify-content: center;
        display: flex; 
    }
    #tipoVehiculo .nav-item .nav-link {
        width: 100%;
    }
    .modal-size{
        width:100%;
    }

}

@media (min-width: 576px){
.modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
}
    
}
